<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post" action="choose"></form>
<table cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td>Choose actions</td>
    </tr>
    <tr>
        <td><input type="checkbox" name="actions" value="action1">Action 1</td>
        </tr>
    <tr>
        <td><input type="checkbox" name="actions" value="action2">Action 2</td>
        <tr>
        <td><input type="checkbox" name="actions" value="action3">Action 3</td>
    </tr>
    <tr>
        <td>
        <input type="submit" value="submit">
        </td>
    </tr>

</table>
</form>

</body>
</html>